@import url('https://fonts.googleapis.com/css?family=DotGothic16');

:root {
	color-scheme: dark;
}

body {
	color: #eee;
	background-color: #121212;
	background-image: url("/images/SKYSPACE.png");
	background-size: 1024px 512px;

	-webkit-animation-name: slidein;
	animation-name: slidein;

	-webkit-animation-duration: 240s;
	animation-duration: 480s;

	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;             
}

@-webkit-keyframes slidein {
from {background-position: 0px 0px;}
to {background-position: 1024px 2048px;}
}

@keyframes slidein {
from {background-position: 0px 0px;}
to {background-position: 1024px 2048px;}

}

a {
	color: #809fff;
}

.placeholder {
	display: block;
	margin: 2.5% auto;
	max-height: 320px;
	max-width: 400px;
	width: 50%;
	font-family: "DotGothic16", sans-serif;
}

.placeholder-subtitle {
	font-size: 200%;
}

.placeholder-txt {
	background: rgba(76, 99, 175, 0.1);
	padding: 5px 0px;
	text-align: center;
}

.link-icon:before {
	display: inline-block;
	margin: 0 3px 0 10px;
	width: 16px;
	height: 16px;
	content: " ";
	background-size: 100%;
}

a[href*='discord.gg']:before {
	background: url("/images/BKEYG0.png") no-repeat 0 0px;
}

a[href*='github.com']:before {
	background: url("/images/github-mark-white.png") no-repeat 0 0;
}
